#title{
    border-bottom: solid 1px saddlebrown;
}

#content{
}

.pattern-entry{

}

.pattern-entry:hover{
    /*box-shadow: 5px 5px 5px 5px green;*/
    /*border: 5px solid green;*/
}

.pattern-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.paging-row{
    margin-bottom: 30px;
    margin-top: 30px;
}

.paging-button{
}

body{
}