#title{
    border-bottom: solid 1px saddlebrown;
}

#content{
}

.pattern-entry{

}

.pattern-entry:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}

.pattern-row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.paging-row{
    margin-bottom: 30px;
    margin-top: 30px;
}

.paging-button{
}

body{
}