{% extends "patterns/base.html" %}

{% block content %}
    {% if patterns_grid %}
        {% for row in patterns_grid %}
            <div class="row align-items-center pattern-row">
                {% for pattern in row %}
                    <div class="col-md-4 pattern-entry" onclick="openPatternDetailsModal({{ pattern.id }})">
                        <img src="{{ pattern.image_file.url }}" width="300px">
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p align="center">Brak wzorów bazie danych!</p>
    {% endif %}

    <div class="row paging-row">
        <div class="col-md-4" align="center">
            {% if current_page > 0 %}
                <button type="button" class="btn btn-secondary paging-button" onclick="location.href='/?current-page={{ previous_page }}'">Poprzednia</button>
            {% endif %}
        </div>
        <div class="col-md-4" align="center">
            <p>Strona {{ current_page_human_readable }} z {{ total_pages }}</p>
        </div>
        <div class="col-md-4" align="center">
            {% if current_page_human_readable < total_pages %}
                <button type="button" class="btn btn-secondary paging-button" onclick="location.href='/?current-page={{ next_page }}'">Następna</button>
            {% endif %}

        </div>
    </div>
{% endblock %}